<!-- Services Section -->
    <section id="enfoque">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Enfoque</h2>
                    <h3 class="section-subheading">Tenemos una metodología comprobada que agiliza la transición de ideas a resultados concretos y útiles en poco tiempo.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
					<img class="img-circle img-responsive center-block" src="img/enfoque/inicio.png" alt="">
                    <h4 class="service-heading">Objetivos claros</h4>
					<p class="subtext">Comenzamos con un mútuo entendimiento sobre de los desafíos que buscamos afrontar con tecnología. Priorizamos las necesidades y determinamos cuáles son críticas y cuáles son opcionales. </p>
                </div>
                <div class="col-md-4">
					<img class="img-circle img-responsive center-block" src="img/enfoque/desarrollo.png" alt="">
                    <h4 class="service-heading">Ciclos cortos con resultados concretos</h4>
                   	<p class="subtext">Desarrollamos una primera versión de la solución y comprobamos que sea útil con un grupo reducido de personas. Recopilamos sugerencia que integramos a las versiones de uso general.</p>
                </div>
                <div class="col-md-4">
					<img class="img-circle img-responsive center-block" src="img/enfoque/operacion.png" alt="">
                    <h4 class="service-heading">Operación continua</h4>
                    <p class="subtext">Nuestro equipo de trabajo garantiza que todos nuestros productos operen adecuadamente y en forma continua de forma transparente a los usuarios.</p>
                </div>
            </div>
        </div>
    </section>