  <footer class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <p class="copyright pull-left">Dirección: Calle 125 No.19 – 89 Ofc.502<br> Bogotá, Colombia</p>
                </div>
                <div class="col-md-4">
					<p class="copyright">Teléfono: 571.638.1073</p>
                </div>
                <div class="col-md-4">
					<p class="copyright">email: info@mapasydatos.com</p>
                </div>
            </div>
			<hr>
			<p class="copyright">créditos: 
				foto: <a rel="nofollow" href="https://www.flickr.com/photos/41894197861@N01/4258558080" target= "_blank">xurde</a>
				íconos: <a href="http://www.freepik.com" title="Freepik">Freepik</a> de <a href="http://www.flaticon.com" title="Flaticon" target= "_blank">www.flaticon.com</a> 
				licencia <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target= "_blank">CC BY 3.0</a>
			</p>
		</div>
	  
    </footer>
	  
	  