<!-- Services Section -->
    <section id="servicios">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Servicios</h2>
                    <h3 class="section-subheading">Trabajamos en equipo con su empresa para desarrollar y administrar las aplicaciones de Internet que apoyan su negocio. Adicionalmente, nos encargamos de que funcionen correctamente y sin interrupciones.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
					<img class="img-circle img-responsive center-block" src="img/servicios/cloud.png" alt="">
                    <h4 class="service-heading">Aplicaciones Cloud</h4>
					<p class="subtext">Desarrollamos nuestras soluciones para que siempre estén disponibles a través de Internet y se puedan utilizar desde cualquier lugar y dispositivo.</p>
                </div>
                <div class="col-md-4">
					<img class="img-circle img-responsive center-block" src="img/servicios/app.png" alt="">
                    <h4 class="service-heading">Apps</h4>
                    <p class="subtext">Elaboramos versiones móviles especialmente diseñadas para teléfonos y dispositivos inteligentes que se integran a las soluciones en la nube.</p>
                </div>
                <div class="col-md-4">
					<img class="img-circle img-responsive center-block" src="img/servicios/geo.png" alt="">
                    <h4 class="service-heading">Geo-referenciación</h4>
                    <p class="subtext">Procesamos direcciones, verificamos la información de origen y entregamos coordenadas exactas. Opcionalmente creamos páginas web con la información geo-referenciada sobre un mapa.</p>
                </div>
            </div>
        </div>
    </section>