<!-- Sección de Tecnología -->
    <section id="tecnologia" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Tecnología</h2>
                    <h3 class="section-subheading">Nuestras soluciones permiten mostrar un panorama real de diferentes problemáticas, que surge de la integración de datos, mapas y gráficas. </h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
					<a href="http://mapbox.com" target= "_blank">
						<img src="img/logos/mapbox.png" class="img-responsive img-circle center-block" alt="">
					</a>
					<h4>Motor de Mapas</h4>
                </div>
				<div class="col-md-4">
					<a href="http://meteor.com" target= "_blank">
						<img src="img/logos/meteor.png" class="img-responsive img-circle center-block" alt="" >
					</a>
					<h4>Plataforma de Desarrollo</h4>
                </div>
				<div class="col-md-4">
					<a href="http://d3js.org" target= "_blank">
						<img src="img/logos/d3.png" class="img-responsive img-circle center-block" alt="">
					</a>
					<h4>Motor de gráficas</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-subheading">Hemos escogido para el desarrollo de nuestros proyectos las herramientas de Open Source que consideramos más adecuadas para obtener los resultados esperados por nuestros clientes.</h3>
                </div>
            </div>
        </div>
    </section>